# Optional dependencies for the entire collection.
# Individual projects also have their own requirements.txt.
-r automation/iss-tracker/requirements.txt
-r desktop/password-manager/requirements.txt
-r desktop/pomodoro-timer/requirements.txt
-r games/turtle/states-quiz/requirements.txt
-r graphics/color-palette/requirements.txt
-r templates/http/requirements.txt
-r templates/restconf/requirements.txt
